<div class="modal-header">
    <h5 class="modal-title" id="modalLabel">@Title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

@functions
{
    [Parameter]
    private string Title { get; set; }
}