<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorDB</a>
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(_collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="students">
                <span class="oi oi-aperture" aria-hidden="true"></span> Студенты
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="lecturers">
                <span class="oi oi-aperture" aria-hidden="true"></span> Преподаватели
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="classes">
                <span class="oi oi-aperture" aria-hidden="true"></span> Группы
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="faculties">
                <span class="oi oi-aperture" aria-hidden="true"></span> Факультеты
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="pulpits">
                <span class="oi oi-aperture" aria-hidden="true"></span> Кафедры
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="advocacies">
                <span class="oi oi-aperture" aria-hidden="true"></span> Защиты
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="controls">
                <span class="oi oi-aperture" aria-hidden="true"></span> Зачеты
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="diplomas">
                <span class="oi oi-aperture" aria-hidden="true"></span> Дипломы
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="disciplines">
                <span class="oi oi-aperture" aria-hidden="true"></span> Дисциплины
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="plans">
                <span class="oi oi-aperture" aria-hidden="true"></span> Планы
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sciencedirections">
                <span class="oi oi-aperture" aria-hidden="true"></span> Научные направления
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sciencethemes">
                <span class="oi oi-aperture" aria-hidden="true"></span> Научные темы
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="traineeships">
                <span class="oi oi-aperture" aria-hidden="true"></span> Аспирантура
            </NavLink>
        </li>
    </ul>
</div>

@functions {
    bool _collapseNavMenu = true;
    void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
