<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorDB</a>
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(_collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Главная
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="students">
                <span class="oi oi-aperture" aria-hidden="true"></span> Студенты
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="lecturers">
                <span class="oi oi-aperture" aria-hidden="true"></span> Преподаватели
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="classes">
                <span class="oi oi-aperture" aria-hidden="true"></span> Группы
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="faculties">
                <span class="oi oi-aperture" aria-hidden="true"></span> Факультеты
            </NavLink>
        </li>
    </ul>
</div>

@functions {
    bool _collapseNavMenu = true;

    void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
